<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImpresosAlvarez.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="ImpresosBD" connectionString="metadata=res://*/Entity.Notas.csdl|res://*/Entity.Notas.ssdl|res://*/Entity.Notas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.84;initial catalog=ImpresosBD;user id=usersql;password=qwerty123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ImpresosBDEntities" connectionString="metadata=res://*/Entity.ImpresosEntities.csdl|res://*/Entity.ImpresosEntities.ssdl|res://*/Entity.ImpresosEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.84;initial catalog=ImpresosBD;user id=usersql;password=qwerty123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ImpresosBDConn" connectionString="Data Source=192.168.1.84;Initial Catalog=ImpresosBD;User ID=usersql;Password=qwerty123" providerName="System.Data.SqlClient" />
  </connectionStrings>  
  <runtime>  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  
            <dependentAssembly>  
                 <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
                 <bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />  
            </dependentAssembly>  
       </assemblyBinding>  
  </runtime>
  <applicationSettings>
    <ImpresosAlvarez.Properties.Settings>
      <setting name="ImpresosAlvarez_mx_facturacfdi_v33_WSForcogsaService"
        serializeAs="String">
        <value>http://v33.facturacfdi.mx:80/WSForcogsaService</value>
      </setting>
      <setting name="ImpresosAlvarez_mx_facturacfdi_v331_WSCancelacionService"
        serializeAs="String">
        <value>http://v33.facturacfdi.mx:80/WSCancelacionService</value>
      </setting>
      <setting name="ImpresosAlvarez_mx_facturacfdi_v40_WSCancelacion40Service"
        serializeAs="String">
        <value>http://v33.facturacfdi.mx:80/WSCancelacion40Service</value>
      </setting>
      <setting name="ImpresosAlvarez_mx_facturacfdi_dev33_WSForcogsaService"
        serializeAs="String">
        <value>http://dev33.facturacfdi.mx:80/WSForcogsaService</value>
      </setting>
    </ImpresosAlvarez.Properties.Settings>
  </applicationSettings>
</configuration>